main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel {
  text-align: center;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 350px;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
.footer-info {
  color: rgb(89, 89, 89);
  font-size: 10px;
}

.on__mobile__lang__btn {
  display: none;
}

.on__pc__lang__btn {
  display: block;
  margin-left: 50px;
}

.lang_button {
  border: 0;
  background: none;
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
  .on__mobile__lang__btn {
    display: block;
  }
  .on__pc__lang__btn {
    display: none;
  }
  .carousel__product__name {
    font-size: 0.8rem;
  }
}
